.navbar {
    margin-bottom: 0;
    background-color: #FF3332;
    z-index: 9999;
    border: 0;
    font-size: 13px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    //box-shadow: 0px 2px 15px #000000;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;

}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #FF3332 !important;
    background-color: #fff !important;

}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;

}

.nav-pills > li > a{
    border-radius: 0px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    color: white;
    background-color: #FF3332;
}

.inactive > a {
    background-color: black;
    color: white;
}


.nav-pills > li.active > a:hover {
    color: white;
    background-color: #FF3332;
}

.nav-pills > li > a:hover {
    background-color: gray;
    color:white;
}



.card{
    width: 100%;
    max-width: 800px;
    padding: 15px;
}